AWS_DEFAULT_REGION=us-east-1
PROJECT_NAME=deportedata
INSTANCE_TYPE=t3.large
ENABLE_EIP=true

DB_NAME=deportedata
DB_USER=deporteadmin
DB_PASSWORD=change-me

S3_BUCKET=
SOURCE_ARCHIVE_KEY=releases/current.tar.gz
INSTANCE_PROFILE_NAME=LabInstanceProfile
AWS_KEY_PAIR_NAME=
